aniso8601==5.1.0
attrs==19.1.0
certifi==2018.11.29
chardet==3.0.4
Click==7.0
decorator==4.3.2
flasgger==0.9.2
Flask==1.0.2
Flask-Cors==3.0.7
Flask-RESTful==0.3.7
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10
jsonschema==3.0.1
MarkupSafe==1.1.1
mistune==0.8.4
networkx==2.2
pyrsistent==0.14.11
pytz==2018.9
PyYAML==3.13
relativetimebuilder==0.2.0
requests==2.21.0
six==1.12.0
urllib3==1.24.1
Werkzeug==0.15.3
